body .reveal h3 {
    font-size: 48px;
}

body .reveal h4 {
    font-size: 36px;
}

.reveal p {
    font-size: 22px;
}

.reveal li {
    font-size: 20px;
}
.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}
body .reveal .slides ul {
    margin-left: 40px;
}

body .reveal .slides ol {
    margin-left: 40px;
}
body .reveal section img {
    border: 0px solid white;
}

.MathJax_Display {
  text-align: left !important;
  text-indent: 2em !important;
}

body .reveal h1,body .reveal h2,body .reveal h3,body .reveal h4 {
    text-transform: none;
}
